@import "varibles.css";
@import "test_varibles.css";

.catalog {}

/*.section {*/
/*    width: 90%;*/
/*}*/
.container {
    max-width: 90%;
}

.catalog_flex {
    display: flex;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: center
}


.new__button_owner {
    transition: .5s;
    display: inline-flex;
    padding: 0.5rem;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    position: absolute;
    bottom: 0;
    left: -10rem;
    width: max-content;
    align-items: center;
}

.button_owner {
    pointer-events: all;
    transition: .5s;
    display: inline-flex;
    padding: 0rem;
    border-radius: 0rem 0rem 0rem 1rem;
    /* border-radius: 0.25rem 0.25rem 0.75rem 0.25rem; */
    position: absolute;
    top: 0;
    right: -10rem;
    width: max-content;
    align-items: center;
    transition: 0.4s;
}


[type] .new__button_owner img,
[type] .button_owner img {
    /* width: 2rem; */
    width: 1.9rem;
    margin: 4px;
    border-radius: 20px;
    padding-right: 0.10rem;
}

[type]:hover .new__button_owner {
    background: 0;
    left: 0rem;
}
[type] .bg {
    pointer-events: all;
    transition: 0.2s;
}
[type] .bg:hover {
    box-shadow: 0 0 70px 0px;
}

[type]:hover .button_owner {
    right: 0rem;
}


.new__container {
    /*max-width: 242px;*/
}

.tag_rare {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: var(--base_c);
    color: var(--title-color);
    font-size: var(--small-font-size);
    padding: 0.4rem 1.5rem;
    border-radius: 0px 0px 40px 0px;
    font-weight: bold;
    color: black;
    background-color: var(--base_c);
    /* color: var(--title-color); */
    font-size: 1rem;
    padding: 0.4rem 1.5rem;
    margin-left: -0.5em;
}

.new__tag {
    display: none;
}

[type] {
    width: 21%;
    flex-grow: 1;
    height: auto;
    /* border-radius: 12px; */
    /* background: none; */
    /* background-color: rgba(240, 248, 255, 0); */

}


[type]>*,
[type] img {
    pointer-events: none;
}

[type] .button_owner {
    pointer-events: all;
}

[type] .bg_shadow {
    background: var(--base_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-base);
}

[type] .bg {
    background: var(--base_c);
}
[type] .bg i{
    color: white;
}

[type='LEGENDARY'] .bg_shadow {
    background: var(--legendary_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-legendary);
}



[type='COMMON'] .bg_shadow {
    background: var(--common_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-common);
}

[type='COMMON'] .bg {
    background: var(--common_c);
    color: var(--color-common);
}

[type='UNCOMMON'] .bg_shadow {
    background: var(--uncommon_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-uncommon);
}

[type='UNCOMMON'] .bg {
    background: var(--uncommon_c);
    color: var(--color-uncommon);
}

[type='RARE'] .bg_shadow {
    background: var(--rare_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-rare);
}

[type='RARE'] .bg {
    background: var(--rare_c);
    color: var(--color-rare);
}

[type='SRARE'] .bg_shadow {
    background: var(--super-rare_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-super-rare);
}

[type='SRARE'] .bg {
    background: var(--super-rare_c);
    color: var(--color-super-rare);
}

[type='EPIC'] .bg_shadow {
    background: var(--epic_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-epic);
}

[type='EPIC'] .bg {
    background: var(--epic_c);
    color: var(--color-epic);
}


[type='LEGENDARY'] .bg_shadow {
    background: var(--legendary_c);
    box-shadow: 0px 0px 330px 70px;
    color: var(--color-legendary);
}


[type='LEGENDARY'] .bg {
    background: var(--legendary_c);
    color: var(--color-legendary);
}

[type] .bg_shadow legend {
    color: black;
}

[type] .bg_shadow {
    transition: .6s;
}

[type]:hover .bg_shadow {

    box-shadow: 0px 0px 400px 20px;
}


/* медиа скрин для пк */
@media screen and (min-width: 1024px) {
    [type] {
        width: 23%;
    }
}

/* медиа скрин для планшетов */
@media screen and (max-width: 768px) {
    [type] {
        width: 25%;
    }
}

/* медиа скрин для телефонов  */
@media screen and (max-width: 563px) {
    [type] {
        width: 40%;
    }
}


.bg_paralaps  {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: perspective(500px);
    transform: perspective(500px);
    overflow: inherit;
}
.bg_paralaps .pr {
    -webkit-transform: translateZ(50px) scale(0.7);
    transform: translateZ(50px) scale(0.7); 
}
.new__container .js-tilt-glare-inner{
    background-image: linear-gradient(0deg, (var(--color-epic) 0%, rgb(255, 255, 255) 100%));
}