{% extends "base.html" %}

{% block header %}
<!--=============== CSS ===============-->
<link rel="stylesheet" href="./css/404.css">
{% endblock %}

{% block content %}
<!------------------ END OF ASIDE ------------------>
<main>
  <h1>404</h1>
  <!--==================== HOME ====================-->
  <section class="home">
    <div class="home__container container">
      <div class="home__data">
        <span class="home__subtitle">Error 404</span>
        <h1 class="home__title">Hey Buddy</h1>
        <p class="home__description">
          We can't seem to find the page <br> you are looking for.
        </p>
      </div>

      <div class="home__img">
        <img src="/img/ghost-img.png" alt="">
        <div class="home__shadow"></div>
      </div>
    </div>
  </section>
</main>
<!----------------- END OF MAIN -------------------->

{% endblock %}