{% extends "base.html" %}

{% block header %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet" />
{% endblock %}

{% block content %}
<!------------------ END OF ASIDE ------------------>
<main>
  <h1>Dashoard</h1>

  <div class="date">
    <input type="date" />
  </div>

  <div class="insights">
    <div class="sales">
      <span class="material-icons-sharp">analytics</span>
      <div class="middle">
        <div class="left">
          <h3>Total Sales</h3>
          <h1>$25,024</h1>
        </div>
        <div class="progress">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>20%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!------------ END OF SALES -------------->
    <div class="expenses">
      <span class="material-icons-sharp">bar_chart</span>
      <div class="middle">
        <div class="left">
          <h3>Total Expenses</h3>
          <h1>$14,160</h1>
        </div>
        <div class="progress">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>62%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!------------ END OF EXPENSES -------------->
    <div class="income">
      <span class="material-icons-sharp">stacked_line_chart</span>
      <div class="middle">
        <div class="left">
          <h3>Total Income</h3>
          <h1>$10,864</h1>
        </div>
        <div class="progress">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="number">
            <p>44%</p>
          </div>
        </div>
      </div>
      <small class="text-muted">Last 24 Hours</small>
    </div>
    <!------------ END OF INCOME -------------->
  </div>
  <!------------ END OF INSIGHTS -------------->

  <div class="recent-orders">
    <h2>Recent Orders</h2>
    <table>
      <thead>
        <tr>
          <th>Product Name</th>
          <th>Product Number</th>
          <th>Payment</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Foldable Mini Drone</td>
          <td>85631</td>
          <td>Due</td>
          <td class="warning">Pending</td>
          <td class="primary">Details</td>
        </tr>

      </tbody>
    </table>

    <a href="#">Show All</a>
  </div>
</main>
<!----------------- END OF MAIN -------------------->

{% endblock %}