{% extends "base.html" %}

{% block header %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--=============== FAVICON ===============-->
<link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">

<!--=============== BOXICONS ===============-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
<!--=============== SWIPER CSS ===============-->
<link rel="stylesheet" href="/css/swiper-bundle.min.css">
<!--=============== CSS ===============-->
<link rel="stylesheet" href="/css/styles.css">
<!-- <link rel="stylesheet" href="/css/catalog.css"> -->
<link rel="stylesheet" href="/css/product.css">

<!--=============== JS WEB3 ===============-->
<script type="module" src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
<!-- <script language="javascript" type="text/javascript" src="/js/web3.min.js"></script> -->
<!-- <script language="javascript" type="text/javascript" src="/artifact/DAO.json"></script> -->
<title>{{title}} - {{page}}</title>
{% endblock %}

{% block content %}
<main class="main">
    <!--==================== HOME ====================-->
    <section class="home container" id="home">
        <div class="swiper home-swiper">
            <div class="swiper-wrapper">
                <!-- HOME SLIDER 1 -->
                <section class="">
                    <div class="home__content grid">
                        <div class="home__group">
                            <img src="/img/{{ item.image }}" alt="" class="home__img">
                            <div class="home__indicator"></div>

                            <span class="home__details-subtitle" type="{{ item.rarity }}">{{ item.rarity }}</span>
                            <div class="home__details-img">
                                <h4 class="home__details-title">{{item.name}}</h4>
                                <span class="home__details-subtitle">{{ item.category }}</span>

                            </div>
                        </div>
                        {% if not test %}
                        <div class="home__data">
                            <h3 class="home__subtitle" type="{{ item.rarity }}">{{ item.rarity }}</h3>
                            <h1 class="home__title">{{ item.name }}</h1>
                            <p class="home__description"> {{ item.description }}</p>
                            <div class="home__buttons">
                                <a href="#" class="button">Book Now</a>
                                <a href="#" class="button--link button--flex">
                                    Track Record
                                    <i class='bx bx-right-arrow-alt button__icon'></i>
                                </a>
                            </div>
                        </div>
                        {% else %}
                        <div class="price-block inside-bs">
                            <div class="price-line">
                                <div class="price">
                                    <h1>price</h1>
                                    <paragraph>{{ shop.price }} AMT</paragraph>
                                </div>
                                <button class="buy-button">Buy Now</button>
                            </div>
                            <hr>
                            <div class="desc-line">
                                <h1>Minted 4 hours ago</h1>
                                <div class="owner-block">
                                    <h1>owner</h1>
                                    <div class="owner">
                                        <img src="{{ item.owner.image }}" alt="" class="avatar">
                                        <div class="nickname">@{{ item.owner.name }}</div>
                                        <!-- <span>{{ item.owner }}</span> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        {% endif %}
                    </div>
                </section>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!--==================== DISCOUNT ====================-->
    <section class="section discount">
        <div class="discount__container container grid">
            <div class="discount__data">
                <h2 class="discount__title">50% Discount <br> On New Products</h2>
                <a href="#" class="button">Go to new</a>
            </div>

            <img src="/img/discount-img.png" alt="" class="discount__img">
        </div>
    </section>

    <!--==================== NEW ARRIVALS ====================-->
    <section class="section new" id="new">
        <h2 class="section__title">New Arrivals</h2>

        <div class="new__container container">
            <div class="swiper new-swiper">
                <div class="swiper-wrapper">
                    <div class="new__content swiper-slide">
                        <div class="new__tag">New</div>
                        <img src="/img/new1-img.png" alt="" class="new__img">
                        <h3 class="new__title">Haunted House</h3>
                        <span class="new__subtitle">Accessory</span>

                        <div class="new__prices">
                            <span class="new__price">$14.99</span>
                            <span class="new__discount">$29.99</span>
                        </div>

                        <button class="button new__button">
                            <i class='bx bx-cart-alt new__icon'></i>
                        </button>
                    </div>

                    <div class="new__content swiper-slide">
                        <div class="new__tag">New</div>
                        <img src="/img/new2-img.png" alt="" class="new__img">
                        <h3 class="new__title">Halloween Candle</h3>
                        <span class="new__subtitle">Accessory</span>

                        <div class="new__prices">
                            <span class="new__price">$11.99</span>
                            <span class="new__discount">$21.99</span>
                        </div>

                        <button class="button new__button">
                            <i class='bx bx-cart-alt new__icon'></i>
                        </button>
                    </div>

                    <div class="new__content swiper-slide">
                        <div class="new__tag">New</div>
                        <img src="/img/new3-img.png" alt="" class="new__img">
                        <h3 class="new__title">Witch Hat</h3>
                        <span class="new__subtitle">Accessory</span>

                        <div class="new__prices">
                            <span class="new__price">$4.99</span>
                            <span class="new__discount">$9.99</span>
                        </div>

                        <button class="button new__button">
                            <i class='bx bx-cart-alt new__icon'></i>
                        </button>
                    </div>

                    <div class="new__content swiper-slide">
                        <div class="new__tag">New</div>
                        <img src="/img/new4-img.png" alt="" class="new__img">
                        <h3 class="new__title">Rip</h3>
                        <span class="new__subtitle">Accessory</span>

                        <div class="new__prices">
                            <span class="new__price">$24.99</span>
                            <span class="new__discount">$44.99</span>
                        </div>

                        <button class="button new__button">
                            <i class='bx bx-cart-alt new__icon'></i>
                        </button>
                    </div>

                    <div class="new__content swiper-slide">
                        <div class="new__tag">New</div>
                        <img src="/img/new5-img.png" alt="" class="new__img">
                        <h3 class="new__title">Terrifying Crystal Ball</h3>
                        <span class="new__subtitle">Accessory</span>

                        <div class="new__prices">
                            <span class="new__price">$5.99</span>
                            <span class="new__discount">$12.99</span>
                        </div>

                        <button class="button new__button">
                            <i class='bx bx-cart-alt new__icon'></i>
                        </button>
                    </div>

                    <div class="new__content swiper-slide">
                        <div class="new__tag">New</div>
                        <img src="/img/new6-img.png" alt="" class="new__img">
                        <h3 class="new__title">Witch Broom</h3>
                        <span class="new__subtitle">Accessory</span>

                        <div class="new__prices">
                            <span class="new__price">$7.99</span>
                            <span class="new__discount">$14.99</span>
                        </div>

                        <button class="button new__button">
                            <i class='bx bx-cart-alt new__icon'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--==================== OUR NEWSLETTER ====================-->
    <section class="section newsletter">
        <div class="newsletter__container container">
            <h2 class="section__title">Our Newsletter</h2>
            <p class="newsletter__description">
                Promotion new products and sales. Directly to your inbox
            </p>

            <form action="" class="newsletter__form">
                <input type="text" placeholder="Enter your email" class="newsletter__input">
                <button class="button">
                    Subscribe
                </button>
            </form>
        </div>
    </section>
</main>
{% endblock %}

</body>

</html>